<% provide(:spotbtn, "ここで作成する") %>

<div class="memory-spot">  
  <h2>メモリー作成</h2>
  <div id="display" class="h3">メモリーを作成する場所を指定してください<i class="fas fa-search-location"></i></div>
</div>

<%= render 'form' %>