<div id="top">
  <div class="top-image">
    <h2 class="top-title">Spot × Memory<br>Storing</h2>
    <p class="top-p">記録と記憶を地図に刻もう</p>
  </div>
</div>
<div class="top-contents">
  <div class="introduction">
    <h2 class="introduction-title">Spot Memory Storing とは？</h2>
    <p class="introduction-p">
      このサイトは、記憶力と場所の関係性に基づいて、記憶を定着させることを目的としたメモアプリです。<br>
      場所に関する記憶は、人間をはじめとする全ての動物においてとても重要な意味を持ち、忘れにくい記憶です。<br>
      これは食糧が獲れる場所や天敵の住処など、生存のために重要な記憶を忘れないための動物としての本能です。<br>
      そうした場所のイメージと覚えていたい事柄を結びつけて、学習内容などを忘れないように定着させる手助けをします。<br><br>
      また、場所の記録をつけるという当サイトの特性上、例えば旅行の思い出の記録や観光地巡りのメモとして、<br>
      また行きたい場所を保存する場としても利用でき、その情報を友人とシェアすることも可能です。<br>
      お出かけしたいところを今のうちに洗い出しておきましょう。<br>
      ご自分なりの様々な活用法で当サイトをご利用ください。
    </p>

    <h2 class="introduction-title">使用例サンプル</h2>
    <p></p>

    <%= link_to "さっそく始める", new_user_path, class: "btn btn-info" %>
  </div>




</div>