<div id="top">
  <div class="top-image">
    <h2 class="top-title">Spot × Memory<br>Storing</h2>
    <p class="top-p">記録と記憶を地図に刻もう</p>
  </div>
</div>
<div class="top-contents">
  <div class="introduction">
    <h2 class="introduction-title">Spot Memory Storing とは？</h2>
    <p class="introduction-p">
      <span class="introduction-head">このアプリケーションの目的と使い道２つ</span><br>
      <span class="royalblue">１. 記憶力と場所の関係性に基づいて、記憶を定着させる</span><br>
      場所の記憶は、人間をはじめとする全ての動物において重要な意味を持ち、忘れにくい記憶です。<br>
      食糧が獲れる場所や天敵の住処など、生存のために場所というのは重要な意味を持ちます。<br>
      <span class="border-bottom">つまり場所の記憶とは、動物が生き延びていくための本能と密接な関係にあります。</span><br>
      自分にとって意味のある場所に記憶をリンクして、それらを地図上で確認できるようになっています。<br>
      地図上にメモを点在させ、学びに楽しさを見出せるようになり、また学習内容などを忘れないように定着させる手助けをします。<br><br>
      <span class="royalblue">２. 場所に関する思い出やメモを記録</span><br>
      例えば旅行の思い出の記録や観光地巡りのメモ、美味しいレストランの記録や、<br>
      行ってみたい場所を保存する場としても利用でき、その情報を友人とシェアすることも可能です。<br>
      <span class="border-bottom">地図に直接メモを貼るような感覚で、どこに記録があるのかが視覚的にわかりやすくなっています。</span><br>
      お出かけしたいところを今のうちに洗い出しておきましょう。<br>
      どんな使い方をするかはあなた次第です。
    </p>

    <h2 class="introduction-title">使用例サンプル</h2>
    <div class="introduction-images">
      <div class="introduction-content">
        <img src="assets/images/spot_create.jpg" alt="spot-create" class="introduction-image">
        <p>好きな場所にピンを立てて</p>
      </div>
      <div class="introduction-content">  
        <img src="assets/images/memory.jpg" alt="spot-create" class="introduction-image">
        <p>その場所にメモを作成</p>
      </div>
      <div class="introduction-content">  
        <img src="assets/images/spots.jpg" alt="spot-create" class="introduction-image">
        <p>１カ所にメモを複数作成可能</p>
      </div>
      <div class="introduction-content">  
        <img src="assets/images/mymap.jpg" alt="spot-create" class="introduction-image">
        <p>自分の記憶が格納された自分だけのマップを作ろう</p>
      </div>
    </div>

    <%= link_to "さっそく始める", new_user_path, class: "btn btn-info" %>
  </div>




</div>