<div class="user-show">
  <h2 class="user-show-sub"><% if @user == @current_user %>マイ<% end %>スポット</h2>
  
  <% @spots.each do |spot| %>
    <a href="/spots/<%= spot.id %>">
      <div class="user-show-content">
        <h4><%= spot.name %></h4>        
        <h5>登録メモリー数 <%= spot.memories.length %></h5>
      </div>
    </a>
  <% end %>
  <%= paginate @spots %>
</div>