<a href="/users/<%= user.id %>" class="user-show-content">
  <%= image_tag "/user_image/#{user.image_name}.jpg", class: "user-image-index float-left", alt: "User image" %>
  <h3><%= user.name %></h3>
</a>