<footer>
  <div class="footer-upper">
    <div class="footer-left">
      <div class="footer-title">
        <h2>Spot Memory Storing</h2>
      </div>
    </div>
    <div class="footer-right">
      <ul class="links">
        <li>
          <%= link_to "お問い合わせ", new_inquiry_path, class: "contact-link" %>
        </li>
        <li>
          <%= link_to "利用規約", "#", class: "contact-link" %>
        </li>
        <li>
          <%= link_to "プライバシーポリシー", "#", class: "contact-link" %>
        </li>
    </div>
  </div>
  <div class="footer-lower">
    Developped at 2021. Copyright © 2021 it1221 All Rights Reserved.
  </div>
</footer>