<h4 id="display2"　class="spot-selected"> </h4>
<div id='map' class="embed-responsive"></div>




<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google_map_api_key %>&callback=initMap" async defer></script>